    :root{
        --primary-brand: #4D5AE5;
        --active-button: #404BBF;
        --section-colour: #2E2F42;
        --success: #31D0AA;
        --text-discription: #434455;
        --subtle-text: #8E8F99;
        --accent: #E7E9FC;
        --cloud-bckground: #F4F4FD;
        --white-base: #ffffff;
    }

    body {
        font-family: 'Roboto',sans-serif;
        color: var(--section-colour);
        font-size: 16px;
        background-color: var(--white-base);
    }

    ul{
        list-style-type: none;
    }

    ul,h1,h2,h3,h4,h5,h6,p{
        margin-top: 0;
        margin-bottom: 0;
    }

    ul{
        padding-left: 0;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    .head-box{
        display: flex;
        width: 1128px;
        margin: 0 auto;
        /* background-color: tomato; */
    }

    .conteiner{
        width: 1128px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        /* background-color: lime; */
    }

    .conteiner-work{
        width: 1128px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 120px;
        /* background-color: lime; */
    }

    .conteiner-work > .work-list{
        display: flex;
        flex-direction: row;
        margin-bottom: 240px;
    }

    section > .conteiner-team{
        width: 1128px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .conteiner-team > .work-list{
        display: flex;
        flex-direction: row;
        margin-bottom: 120px;
    }

    .work-list{
        /* background-color: lime; */
        flex-direction: column;
        column-gap: 24px;
    }
    
    .conteiner-portfolio    {
        width: 1128px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 120px;
        /* background-color: lime; */
    }

    .header-nav{
        display: flex;
        justify-content: space-between; 
        /* background-color: lime; */
    }

    .header-nav > .header-link-item:not(:last-child){
        margin-right: 40px;
    }

    .header-nav > .header-nav-item:not(:last-child){
        margin-right: 40px;
        /* background-color: navy; */
    }

    nav{
        display: block;
    }
    .color-logo{
        color: var(--active-button);
    }


    .logo{
        color: var(--section-colour);
        font-family: 'Raleway';
        font-size: 18px;
        line-height: 1.33;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 76px;
    }

    .footer-conteiner{
        width: 1128px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-conteiner>.logo{
        color: var(--accent);
        margin-bottom: 16px;
        padding-top: 100px;
    }

    .link-nav{
        line-height: 1.5;
        letter-spacing: 0.02px;
        color: var(--section-colour);
        font-weight: 500;
    }

    .link-nav:hover,
    .link-nav:focus{
        color: var(--active-button);
    }

    .footer-text{
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: var(--accent);
        width: 264px;
        height: 72px;
        padding-bottom: 188px;
    }

    .contatc-link{
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-weight: 400;
        color:var(--text-discription);
        font-style: normal;
    }

    .contatc-link:hover,
    .contatc-link:focus{
        color: var(--active-button);
    }

    .banner{
      text-align: center;
      padding-top: 188px;
      padding-bottom: 292px;
    }

    .banner-title{
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--white-base); 
        width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        /* background-color: tomato; */
    }

    .section-title{
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .section-subtitle{
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        font-weight: 500;
        text-align: center;
        margin-bottom: 8px;
    }
    .section-text{
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-discription);
        text-align: center;
        letter-spacing: 0.02em;
    }

    .banner,footer{
        background-color: var(--section-colour);
        flex-direction: column;
    }

    .team{
        background-color: var(--cloud-bckground);
    }

    button{
        background-color: var(--primary-brand);
        color: var(--white-base);
        cursor: pointer;
        line-height: 1.5; 
        text-align: center;
        letter-spacing: 0.04em;
        border-radius: 4px;
        border-width: 0px;
        padding: 16px 32px;
        min-width: 169px;
        display: inline-block;
    }

    .mainpage-button:hover,
    .mainpage-button:focus{
        background-color: var(--active-button);

    }

    .selection-button{
        background-color: var(--cloud-bckground);
        color: var(--active-button);
        border: 1px solid var(--accent);
        border-radius: 4px;
        font-weight: 500;
        min-width: 78px;
    }
    .selection-button:hover,
    .selection-button:focus{
        background-color: var(--active-button);
        color: var(--cloud-bckground); 
    }

    .button-list{
        display: flex;
        margin-bottom: 140px;
    }
    
    .benefits-list{ 
        display: flex;
        margin-top: 120px;
    }

    .portfolio-item{
        display: flex;
        flex-wrap: wrap;
        column-gap: 14px;
        row-gap: 14px;
        margin-bottom: 120px;
    }

    .portfolio-item > li{
        border: 1px solid var(--accent);
    }

    /* Need to add
    1. Change cards in portfolio
    2.Give text display - left (text alighn) in cards and in section benefits list
    3.Give distnance between bunnons on portfolio
    */